* {
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	background-color: rgb(173, 211, 125);
}
.wrap {
	width: 920px;
	height: 320px;
	padding: 20px;
	margin: 40px 100px;
	background-color: #ccc;
}

.left-btn {
	width: 142px;
	height: 314px;
	float: left;
	background: #999;
}
.left-btn p {
	height: 77px;
	cursor: pointer;
	border-bottom: 1px solid #636363;
	border-top: 1px solid #DEDEDE;
	text-align: center;
	font: normal 18px/77px "微软雅黑";

}
.left-btn p:first-child {
	border-top: none;
}
.left-btn p.active {
	background-color: #fff;
}
.layout-right {
	width: 770px;
	height: 314px;
	float: left;
	background-color: #fff;
}
.layout-right li {
	display: none;
	position: relative;
	width: 770px;
	height: 314px;
}
.layout-right li.active {
	display: block;
}
.layout-right li .ad-title{
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	height: 26px; 
	background:rgba(0, 0, 0, 0.33); color: #fff;
}
.layout-right li .ad-title span{ 
	box-sizing:border-box; 
	cursor: pointer; 
	text-align: center; 
	font:normal 12px/26px "microsoft yahei";  
	width: 25%; 
	float:left; 
	border-right: 1px solid #fff;
}
.layout-right li .ad-title span.curr{ 
	background: #FC005C;
}
.layout-right li .ad-img .img{ 
	display: none;
}
.layout-right li .ad-img .img.curr{ 
	display: block;
}
